# Ignore virtual environment
.venv/

# Ignore DVC cache and data files
.dvc/cache/
data/loan_docs/
data/clean_texts/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore macOS system files
.DS_Store

# Ignore Airflow logs and temp files
logs/
airflow/logs/
airflow/dags/__pycache__/
/logs
doc-pipeline-2025-bc5e6b1d47c6.json
.DS_Store
